.position{
  background: url('../public/img/clouds.png') center center;
  background-size: cover;

  background-color: rgba(188, 209, 172, 1);
  height: 900px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.bl {
  position: absolute;
  width: 20%;
  height: auto;
}
.cont {
  position: relative;
  width: auto;
  height: 100%;
}

.cont img{
  position: absolute;
}

.graund {
  width: auto;
  height: 60%;
}

.gif{
  z-index: 1;
  width: auto;
  
}
.archer {
  width: 20%;
  height: 20%;
  top: 17%;
  left: 25%
}
.archer .gif{
  top: -100px;
  left: 13%;
  height: 100%;
  left: 48px;
}
.archer .one{
  left: 73px;
  top: 25px;
  width: auto;
  height: 60%;
  transform: scaleX(-1);
}

.archer .two{
  top: 50%;
  left: -15%;
  width: auto;
  height: 35%;
  transform: scaleX(-1);
}



.wizard {
  width: 20%;
  height: 20%;
  bottom: 23%;
  left: 15%;
}
.wizard .gif {
  bottom: 140px;
  left: 55px;
  height: 100%;
}
.wizard .one {
  left: 85px;
  bottom: 90px;
  width: auto;
}
.wizard .two {
  left: 65%;
  top: 80px;
  width: auto;
  height: 40%;
}


.shieldman {
  width: 20%;
  height: 20%;
  top: 25%;
  right: 13%;
}
.shieldman .gif {
  width: auto;
  top: -90px;
  left: 60px;
  transform: scaleX(-1);
  height: 95%;
}
.shieldman .one {
  top: 30px;
  left: 80px;
}
.shieldman .two {
  top: 70%;
  left: 3%;
  width: auto;
  height: 25%;
}
.shieldman .three {
  top: 80%;
  left: 40%;
  width: auto;
  height: 40%;
}


.swordsman {
  width: 20%;
  height: 20%;
  bottom: 15%;
  right: 24%;
}
.swordsman .gif {
  transform: scaleX(-1);
  top: -70px;
  left: 0px;
  height: 120%;
  
}
.swordsman .one {
  top: 95px;
  left: 50px;
}
.swordsman .two {
  top: 37%;
  left: -10%;
  width: auto;
  height: 25%;
}
.swordsman .three {
  top: 1%;
  left: 60%;
  width: auto;
  height: 30%;
}
@media (max-width: 992px) {
  .wizard .two {
    display: none;
}
}

@media (max-width: 576px) {
  .archer .gif{
    left: -50px;
  }
  .archer .one{
    left: -29px;
  }
  .archer .two{
    left: -100px;
  }
  
  .wizard .gif {
    left: -50px;
    /* bottom: 140px; */
  }
  .wizard .one {
    left: -20px;
    bottom: 90px;
  }

  .shieldman .gif {
    left: -20px;
    transform: scaleX(-1);
  }
  .shieldman .one {
    left: 0px;
  }
  .shieldman .two {
    left: -100px;
  }
  
} 
@media (max-width: 992px) {
  .wizard .gif {
    bottom: 20px;
  }
  .wizard .one {
    bottom: -30px;
  }
}


/* Кнопка */
.pos {
  position: relative;
  text-align: center;
  height: auto;   
  width: 30%;     
  margin-left: auto;
  margin-right: auto;
  display: block;
  transition: background-color 0.3s ease; /* Добавляем плавный переход для изменения фона */
  padding-top: 1%;
  padding-bottom: 1%; 
  border-radius: 50px;
  border: 0px;
  overflow: hidden;
  background-color: rgba(23, 25, 33, 1);
  }
  

  @media (max-width: 992px) {
    .pos {
      width: 60%;
      padding-top: 2%;
      padding-bottom: 2%;  
    }
  }
  @media (max-width: 768px) {
    .pos {
      width: 70%;
      padding-top: 2%;
      padding-bottom: 2%;  
    }
  }
  @media (max-width: 576px) {
    .pos {
      width: 90%;
      padding-top: 2%;
      padding-bottom: 2%;  
    }
  }
  
  .pos svg {
    position: relative;
    z-index: 1;
    height: auto;   
    width: 90%;     
  }
  
  .pos::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    transition: top 0.3s ease;
    z-index: 0;
  }
  
  .pos:hover::after {
    top: 0;
  }
  
  .position svg path {
    fill: white;
  }
  
  .pos:hover svg path {
    fill:rgba(23, 25, 33, 1)
  }

  