.sponsors {
    text-align: center;
    background-color: #171921;
    color: white;
    margin: 0px;

    h1 {
        padding-top: 20px;
        margin-top: 0px;
        color: rgba(176, 194, 255, 1);
        font-weight: 20;
    }

    .block {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    @media (min-width: 992px) {
        .block .pad {
            width: 100%;
            height: 30%;
        }
    }
    .block .pad img {
        width: 80%;
        height: auto;
    }
    .block .pad .Min {
        width: 18%;
        margin-left: auto;
        margin-right: auto;
    }
    .link {
        color: rgba(176, 194, 255, 1);
        text-decoration: none;
        margin-top: 16px;
        margin-bottom: 0px;
    }
    .link:hover {
        text-decoration: underline;
      }
}