.sponsors {
    text-align: center;
    background-color: #171921;
    color: white;
    margin: 0px;

    h1 {
        padding-top: 20px;
        margin-top: 0px;
        color: rgba(176, 194, 255, 1);
        font-weight: 20;
    }

    .block {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    @media (min-width: 992px) {
        .block .pad {
            width: 100%;
            height: 30%;
        }
    }
    .block .pad img {
        width: 50%;
        height: auto;
    }
    .block .pad .Min {
        width: 18%;
        margin-left: auto;
        margin-right: auto;
    }
    .link {
        color: rgba(176, 194, 255, 1);
        text-decoration: none;
        margin-top: 30px;
        margin-bottom: 0px;
    }
    .link:hover {
        text-decoration: underline;
      }

    .block .pad #ironhends {
        margin-top: 15px;   
        width: 80%;
        height: auto;
    }
    .block .pad #gigaschool {
        margin-top: 30px;
        width: 70%;
        height: auto;
    }

    .block .pad #infiniti {
        margin-top: 10px;
        width: 40%;
        height: auto;
    }
    .block .pad #finiki {
        margin-top: 10px;
        width: 40%;
        height: auto;
    }
    .block .pad #ironhends {
        margin-top: 10px;
        width: 70%;
        height: auto;
    }

    .block .pad #school {
        margin-top: 0x;
        width: auto;
        height: 180px;
    }
    .block .pad #start_game {
        margin-top: 0x;
        width: auto;
        height: 70px;
    }
    .block .pad #netologia {
        margin-top: 10px;
        width: 80%;;
        height: auto;
    }

    @media (min-width: 992px) {
        .block .pad #school {
            margin-top: -35px !important;
            width: auto;
            height: 150px;
        }
    }
    @media (max-width: 992px) {
        #school_link {
            margin: 0px;
        }
    }
}